.export-certificate {
    /* Estilo para la sección principal */
    padding: 10px;
    background-color: #f0f0f0;
}

button {
    background-color: #4773e3;
    /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

    margin: 4px 2px;
    cursor: pointer;

}

.form-container {
    /* Estilo para el contenedor del formulario */
    max-width: 200px;
    margin: 0 auto;
}

select {
    width: 10%;
    padding: 5px;
    border: 1px solid #aba3a3;
    border-radius:
        4px;
}

iframe {
    border: none;
    padding: 50px;
}

table td,

table td,
table th {
    font-size: 12px;
    /* Ajusta el tamaño según tus necesidades */
}

h3 {
    color: rgb(89, 111, 220);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 18px;
    /* Ajusta el tamaño según tus necesidades */
}

label {
    font-size: 20px;
    /* Ajusta el tamaño según tus necesidades */
}

option {
    font-size: 20px;
    /* Ajusta el tamaño según tus necesidades */
}