 
.form-group1  .containerdasboard {
        /* Estilos para el contenedor principal del componente Registro */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
