.body_col-color {
    background-color: #f6f7fc; /* Puedes cambiar el color de fondo aquí */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ajusta el padding, border-radius y box-shadow según tus preferencias */
  }
  
 .P-color {
   color: #10035c;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
 }
  /* Estilos adicionales para personalizar aún más */
  .Registro {
    /* Estilos para el contenedor principal del componente Registro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #172330;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d9ceda;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0a77f4;
  

  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,   
 border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form {
  display: flex; /* Make the form elements arrange vertically */
  flex-direction: column; /* Stack them on top of each other */
  width: fit-content; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add some padding for spacing */
}

.form-group {
  margin-bottom: 15px; /* Add spacing between form groups */
}

.form-control {
  padding: 10px; /* Adjust padding for input fields */
  border: 1px solid #ccc; /* Add a border to the input fields */
  border-radius: 4px; /* Add rounded corners */
}

