

@import 'bootstrap/dist/css/bootstrap.min.css';


                                  

.App-header {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  

}
.title-containerLanding {
  border: 2px solid #3498db; /* Color del borde: Azul claro */
  border-radius: 10px; /* Redondea las esquinas */
  padding: 20px;
  background-color: #236ce0; /* Fondo gris claro */

}

.App-link {
  color: #1994b6;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; /* Ejemplo de tipografía de Google Fonts */
}

.brand-wrapper {
  background-color: #ffffff; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(192, 53, 53, 0.1);
  color: rgb(11, 11, 11);
  font-size: calc(3px + 2vmin);
}

.panel-heading {
  background-color: #ffffff; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(15, 5, 5, 0.1);
  color: rgb(11, 11, 11);
  font-size: calc(3px + 2vmin);
}
.form-group-margin {
  margin-top: 20px; /* Adjust margin as needed */
}
.containerdasboard {
  display: grid;
  grid-template-rows: auto 1fr; /* La primera fila tiene altura automática, la segunda ocupa el resto */
  height: 50vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
