body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {

  background-size: cover;
  color: #07072a;
  /* Color de texto  pie de pagina negro */
  text-align: center;
  padding: 10px;

}

body {
  background: #fffdfdff;

  min-height: 100%;
  position: relative;

}

#login-wrapper {
  position: center;
  top: 10%;
}

#login-wrapper .registration-block {
  margin-top: 20px;
}