/* Style the Accordion component */
.accordion {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
}

/* Style the Accordion header */
.accordion-header {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

.accordion-header:hover {
    background-color: #e0e0e0;
}

/* Style the Accordion body */
.accordion-body {
    padding: 1rem;
}

/* Style the Form group */
.form-group {
    margin-bottom: 0.5rem;
}

/* Style the Form label */
.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

/* Style the Form select */
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color:
        #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

/* Style the Form select options */

.form-select option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
        /* Ajusta el tamaño de la fuente a tu gusto */
    /* Adjust font size as needed */
    color: #333;
    /* Adjust text color as needed */
    background-color: #f5f5f5;
    /* Adjust background color as needed */
    border: none;
    /* Remove default border */
    border-radius: 4px;
    /* Add rounded corners */
    transition: background-color 0.2s ease-in-out;
}

.form-select option:hover {
    background-color: #e0e0e0;
}

.form-select option:disabled {
    color: #999;
    cursor: not-allowed;
}